{% extends "base.njk" %}

{% block content %}


    <div id="display" class="col-md-9">
        <div id="root"></div>
    </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.5.10/prop-types.min.js'></script>
  <script src="/pub/js/searchfilm.js"></script>
{% endblock %}
