doctype html

html
    head
        title Ma Liste de Tâches
        style
            include style.css
        
    body
        #global
            h1 Ma Liste de Tâches
            ul
                each todo, index in todolist
                    li #{todo}
                         a(href="/todo/supprimer/"+index)  ✘ 
            form(action="/todo/ajouter/" , method="post")
                p
                    label(for="newtodo") Que dois-je faire ?
                    input(type="text" , name="newtodo" , id="newtodo")
                    input(type="submit")
